<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>vuex-gulp-demo</title>
  <link rel="stylesheet" type="text/css" href="css/vue2-animate.min.css">
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script>
  window.onload = function () {
    app = new myApp({});
  };
</script>
<script src="js/jquery.js"></script>
</body>
</html>
